* {
    margin: 0;
    padding: 0;
    font-family: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

body {
    background-color: #ededed;
}

main {
    width: auto !important;
    margin: 10px;
}

.contenedor {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
    margin: 5px;
}

.informacion {
    background-color: lightgray;
    width: 292px;
    margin: 5px;
    padding: 10px;
}

.container {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 800px;
    height: auto;
    border-radius: 10px;
}

.product {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
    height: 150px;
    margin: 10px;
    background-color: white !important;
    border-bottom: lightgray solid 0.1rem;
}

.product img {
    width: 100px;
    height: 150px;
    object-fit: contain;
    margin-right: 10px;
}

.product .text {
    flex-grow: 1;
    padding-left: 30px;
}

.product .title {
    font-weight: bold;
}

.product .price {
    color: rgb(51, 51, 51);
    font-size: 20px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
    margin-top: 5px;
    margin: 5px;
}

.beforeprice {
    text-decoration: line-through;
    color: #999;
    font-size: 15px;
    margin-right: 5px;
    margin-top: 5px;
    margin: 5px;
}

.product .star {
    color: #3483fa !important;
    margin-top: 5px;
    margin: 5px;
}

.navbar {
    background-color: #fff159 !important;
    display: flex;
    align-items: center;
}

.nav-logo {
    width: auto;
    height: auto;
    object-fit: contain;
    margin: 20px 20px 20px 20px;
}

.promocion-disney {
    margin-left: 110px;
    max-width: 340px;
    max-height: 39px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
}

.search-container input[type="search"] {
    padding: 6px 10px;
    border: none;
    border-radius: 4px 0 0 4px;
    width: 400px;
    height: 40px;
}

.search-container button[type="submit"] {
    padding: 6px 10px;
    background-color: #ffffff;
    color: white;
    border: none;
    border-left: outset;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
}

.lupa-icon {
    width: 25px;
    /* Ajusta el ancho de la imagen según tus necesidades */
    height: 25px;
    /* Ajusta la altura de la imagen según tus necesidades */
    margin: auto;
    /* Ajusta el margen derecho según tus necesidades */
}
#productImage:hover {
    cursor: pointer;
  }
  